# Local editor configurations
.project
.settings
.idea/
*.swp
tags
nbproject/*

# macOS
.DS_Store

# Windows
Thumbs.db

# Debugging related
npm-debug.log

# Dependency packages files
node_modules/
vendor/
package-lock.json
composer.lock
composer.phar

# Output and build files
dist/
style.css.map
*.zip

# Styles
style.css
style-rtl.css

# Project-specific files
/.idea/
*.phpcs.xml.dist
phpcs.xml.dist
*/components/**/*.css.map
*/components/**/*.css
